$border: 1px solid #ccc;

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  padding-top: 2rem;
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 2rem;
}

h1 {
  text-align: center;
}




.logo {
  //   background-image: url("./images/webpack-logo.png");
  background-size: cover;
  margin: 0 auto;
  img {
    height: 400px;
    width: 400px;
    padding: 0 30%;
  }
}

.code {
  color: chocolate;
}

.card {
  padding: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  border: $border;

  h2 {
    text-align: center;
    color: darkred;
  }
}

header {
display: flex;
position: relative;
align-content: center;
width: 100%;
max-width: 1440px;
height: 70px;
background: #FFFFFF;
margin: 20px auto;
padding: 0;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
.logo_header {
  margin: 15px auto 15px 140px;
  }
nav {
  display: flex;

  .menu_list { 
    position: relative;
    padding-right: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    /* Dark 50% */
    color: rgba(31, 32, 65, 0.5);

  }

  li {
    display: inline;
  }

  .sign_in {
border-radius: 22px;
width: 87px;
height: 34px;
background: #FFFFFF;
color: #BC9CFF;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
} 

.sign_up {
border-radius: 22px;
width: 196px;
height: 34px;
background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
border: 0;
color:#FFFFFF;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
} 

}
}

footer {
  /* Rectangle */
 width: 100%;
max-width: 1440px;
position: relative;
margin: 20px auto;
padding: 0;
background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

  p {
    text-align: center;
  }
}
