$border: 1px solid #ccc;

body {
  font-family: "Roboto", sans-serif;
}

.container {
  padding-top: 2rem;
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 2rem;
}

h1 {
  text-align: center;
}




.logo {
  //   background-image: url("./images/webpack-logo.png");
  background-size: cover;
  margin: 0 auto;
  img {
    height: 400px;
    width: 400px;
    padding: 0 30%;
  }
}

.code {
  color: chocolate;
}

.card {
  padding: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  border: $border;

  h2 {
    text-align: center;
    color: darkred;
  }
}

header {
position: relative;
width: 100%;
max-width: 1440px;
height: 70px;
background: #FFFFFF;
margin: 20px auto;
padding: 0;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  nav {
    text-align: center;
  }
  .logo {
    background-image: url("./images/Logo.svg");
  }
}

footer {
  /* Rectangle */
 width: 100%;
max-width: 1440px;
position: relative;
margin: 20px auto;
padding: 0;
background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

  p {
    text-align: center;
  }
}
